---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Bizness Analytics{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}
            Bizness Analytics is an enterprise data and analytics solution provider. Our clients hire us to acquire, enrich and measure 
            their data so they can make smarter, better decisions about their business.
            Leveraging on our business process understanding, we provide analytics solutions to help clients generate insights from 
            their data that were unseen before.
            We assist corporates in leveraging power of big data analytics for business analytics, mergers & acquisitions, 
            business intelligence and special situations.
            {% endif %}</p>
          
          <p class="author_subtitle">
            Our global delivery capabilities are powered by a multi-disciplinary team that derives its strengths from expertise 
            in management consultancy and data sciences.
            We have ever expanding capabilities under our business analytics suite BiznessAnalytics and M&A analytics suite iDEALytix. 
          </p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
